<p id="notice"><%= notice %></p>

<h2>
  <%= @dataset.name %>
</h2>
<%= link_to 'Edit', edit_app_dataset_path(@app, @dataset) %>

<h3>Data Point Configuration</h3>
<turbo-frame id='data-points' src="<%= app_dataset_data_points_path(@app, @dataset) %>">
</turbo-frame>

<h3>Latest Data</h3>
<turbo-frame id='data-entries' src="<%= app_dataset_data_entries_path(@app, @dataset) %>">
</turbo-frame>
