<%= form_with(model: [@app, @dataset, data_point], local: true) do |form| %>
  <% if data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_point.errors.count, "error") %> prohibited this data_point from being saved:</h2>

      <ul>
        <% data_point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
