<h1><%= @app.name %></h1>
<%= link_to 'Edit', edit_app_path(@app) %>
<div id='app'>

  <h2>Datasets</h2>
  <div id='datasets'>
    <ul>
      <% @app.datasets.each do |dataset| %>
        <li><%= dataset.name %></li>
      <% end %>
      <li>
        <%= link_to 'New Dataset', new_app_dataset_path(@app) %>
      </li>
    </ul>

  </div>
  <%= link_to 'Back', apps_path %>
</div>
